/* Error: There is no module with the namespace "color".
 *    ,
 * 17 |     background-color: color.adjust(var.$gray, $lightness: 20%); 
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\_tables.scss 17:23  @use
 *   scss\main.scss 14:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 17 \2502      background-color: color.adjust(var.$gray, $lightness: 20%); \d\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\_tables.scss 17:23  @use\a   scss\\main.scss 14:1                 root stylesheet';
}
