// scss/_mixins.scss
@use "sass:math";
@use "sass:map"; // map.has-key နဲ့ map.get အတွက်
@use "variables" as var;

@mixin breakpoint($size) {
  @if map.has-key(var.$breakpoints, $size) { // map-has-key ကို map.has-key နဲ့ ပြောင်းတယ်
    @media (min-width: map.get(var.$breakpoints, $size)) { // map-get ကို map.get နဲ့ ပြောင်းတယ်
      @content;
    }
  }
}

@mixin button-style($bg-color, $text-color: var.$white, $border: false) {
  background-color: if($border, transparent, $bg-color);
  color: if($border, $bg-color, $text-color);
  padding: var.$base-spacing * 2 var.$base-spacing * 4;
  border-radius: var.$border-radius;
  border: if($border, 1px solid $bg-color, none);
  cursor: pointer;
  transition: all 0.3s ease;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}