// scss/utilities/_colors.scss
@each $name, $color in $colors {
    .bg--#{$name} { background-color: map-get($color, base); }
    .bg--#{$name}-light { background-color: map-get($color, light); }
    .bg--#{$name}-dark { background-color: map-get($color, dark); }
    .text--#{$name} { color: map-get($color, base); }
    .border--#{$name} { border-color: map-get($color, base); }
  }