// scss/utilities/_colors.scss
.bg--thanakha { background-color: $thanakha; }
.bg--ruby { background-color: $ruby; }
.bg--jade { background-color: $jade; }
.bg--sapphire { background-color: $sapphire; }
.text--ruby { color: $ruby; }
.text--jade { color: $jade; }