// scss/components/_buttons.scss
.btn {
  @include button-style(map-get(map-get($colors, ruby), base));
  &:hover { background-color: map-get(map-get($colors, ruby), dark); }
  &--disabled { opacity: 0.6; cursor: not-allowed; }
  &--sm { padding: $base-spacing $base-spacing * 2; font-size: 0.875rem; }
  &--lg { padding: $base-spacing * 3 $base-spacing * 6; font-size: 1.25rem; }
  
  @each $name, $color in $colors {
    &--#{$name} {
      @include button-style(map-get($color, base));
      &:hover { background-color: map-get($color, dark); }
    }
    &--outline-#{$name} {
      @include button-style(map-get($color, base), map-get($color, base), true);
      &:hover { background-color: map-get($color, light); }
    }
  }
  
  &--group { display: inline-flex; .btn + .btn { margin-left: -1px; } }
}