// scss/components/_cards.scss
@use "../variables" as var; // _variables.scss ကို @use လုဪျတယ်

.card {
  background-color: if(var.$dark-mode, var.$indigo, var.$white); // Namespace နဲ့ ခေါ်တယ်
  border: 1px solid var.$silver;
  border-radius: var.$border-radius;
  
  &--header { padding: var.$base-spacing * 2; border-bottom: 1px solid var.$silver; }
  &--body { padding: var.$base-spacing * 2; }
  &--footer { padding: var.$base-spacing * 2; border-top: 1px solid var.$silver; }
  
  &--group, &--deck { display: flex; .card + .card { margin-left: var.$base-spacing * 2; } }
  &--columns { column-count: 3; column-gap: var.$base-spacing * 4; }
}