// scss/components/_forms.scss
.form {
  &--group { margin-bottom: $base-spacing * 4; }
  
  &--label { display: block; margin-bottom: $base-spacing; color: map-get(map-get($colors, ruby), base); }
  
  &--control {
    width: 100%;
    padding: $base-spacing * 2;
    border: 1px solid $silver;
    border-radius: $border-radius;
    background-color: if($dark-mode, $indigo, $white);
    color: if($dark-mode, $white, $black);
    &:focus { border-color: $ruby; outline: none; }
    &.is--valid { border-color: $jade; }
    &.is--invalid { border-color: $ruby; }
  }
  
  &--check, &--radio {
    margin-right: $base-spacing;
  }
  
  &--group-input {
    display: flex;
    .form--control { border-radius: 0; }
    .btn { margin-left: -1px; }
  }
  
  &--file {
    position: relative;
    input[type="file"] { opacity: 0; position: absolute; width: 100%; height: 100%; }
    .btn { margin-left: -1px; }
  }
}