// scss/components/_forms.scss
@use "sass:map";
@use "../variables" as var;

.form {
  &--group { margin-bottom: var.$base-spacing * 4; }
  
  &--label { 
    display: block; 
    margin-bottom: var.$base-spacing; 
    color: map.get(map.get(var.$colors, "ruby"), "base");
  }
  
  &--control {
    width: 100%;
    padding: var.$base-spacing * 2;
    border: 1px solid var.$silver;
    border-radius: var.$border-radius;
    background-color: if(var.$dark-mode, var.$indigo, var.$white);
    color: if(var.$dark-mode, var.$white, var.$black);
    &:focus { border-color: var.$ruby; outline: none; }
    &.is--valid { border-color: var.$jade; }
    &.is--invalid { border-color: var.$ruby; }
  }
  
  &--check, &--radio {
    margin-right: var.$base-spacing;
  }
  
  &--group-input {
    display: flex;
    .form--control { border-radius: 0; }
    .btn { margin-left: -1px; }
  }
  
  &--file {
    position: relative;
    input[type="file"] { opacity: 0; position: absolute; width: 100%; height: 100%; }
    .btn { margin-left: -1px; }
  }
}