// scss/components/_grid.scss
.grid {
  display: grid;
  gap: $base-spacing;
  
  &--2 { grid-template-columns: repeat(2, 1fr); }
  &--3 { grid-template-columns: repeat(3, 1fr); }
  &--4 { grid-template-columns: repeat(4, 1fr); }
  
  @include breakpoint(md) {
    &--md-2 { grid-template-columns: repeat(2, 1fr); }
  }
}