// scss/components/_popovers.scss
.popover {
    position: absolute;
    background-color: $white;
    border: 1px solid $silver;
    padding: $base-spacing * 2;
    border-radius: $border-radius;
    z-index: 1000;
    
    &--header { padding-bottom: $base-spacing; border-bottom: 1px solid $silver; }
    &--body { padding-top: $base-spacing; }
  }