// scss/components/_tables.scss
@use "../variables" as var; 

.table {
  width: 100%;
  border-collapse: collapse;
  
  th, td { 
    padding: var.$base-spacing * 2; 
    border: 1px solid var.$silver; 
  }
  th { 
    background-color: var.$thanakha; 
    color: var.$black; 
  }
  &--striped tr:nth-child(even) { 
    background-color: color.adjust(var.$gray, $lightness: 20%); 
  }
  &--hover tr:hover { 
    background-color: var.$silver; 
  }
  &--sm { 
    th, td { padding: var.$base-spacing; } 
  }
  &--responsive { 
    display: block; 
    overflow-x: auto; 
  }
}