// scss/base/_typography.scss
@use "sass:map";

body {
  font-family: "Pyidaungsu", sans-serif;
  color: if($dark-mode, $white, $black);
  background-color: if($dark-mode, $black, $white);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $base-spacing * 2;
  @each $level, $size in $font-sizes {
    h#{$level} { font-size: $size; }
  }
}